@import url('https://fonts.googleapis.com/css2?family=Changa:wght@200..800&display=swap');

:root{
    --cor-de-fundo:#1e1e1e;
    --cor-texto-principal:#A0D585;
    --cor-texto-segundario:#EEFABD;
    --botão-ativo:#8F0177;
    --botão-inativo:#FF88BA;

}


body{
    background: var(--cor-de-fundo);
    color: var(--cor-texto-principal);
    font-family: "Changa", sans-serif;
}