@import url('https://fonts.googleapis.com/css2?family=Changa:wght@200..800&display=swap');

:root{
    --cor-de-fundo: #2F2FE4;
    --cor-texto-principal:#A0D585;
    --cor-texto-segundario:#EEFABD;
    --botão-ativo:#8F0177;
    --botão-inativo:#FF88BA;

}


body{
    background: var(--cor-de-fundo);
    color: var(--cor-texto-principal);
    font-family: "Changa", sans-serif;
}

.conteudo-principal{
   
    
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;

}

.titulo-principal{
    text-align:left;
    width:100%;
    font-size: 32px;
}
.titulo-principal span{
    color:cyan
}

.botao{
    background-color: var(--botao-inativo);
    display: flex;
    justify-content: center;
    padding: 18px;
    font-size: 18px;
    align-items: center;
    width: 100%;
    border-bottom: 4px solid var(--botao-inativo);
    border-bottom: 2px solid var(--botao-inativo);
    border-bottom: 2px solid var(--botao-inativo);
}

.botao:first-child{
    border-radius: 40px 40px 0 0;
}


.botao.ativo{
    background-color: var(--botao-ativo);
    border-bottom: 4px solid cyan;
}

.aba-conteudo.botao.ativo{
    display: block;
}
.abas-texto{
    background-color: var(--cor-de-fundo);
    padding: 40px;
    border-radius: 0 0 40px 40px;
}

@media screen and (min-width:768px){
    .botoes{
        display: flex;
    }
    .botao:first-child{
    border-radius: 40px 0 0;    
}  
    .bota:last-child{
    border-radius: 0 40px 0 0;
}
}